<div id="m_scroll_top" class="m-scroll-top">
    <i class="la la-arrow-up"></i>
</div>

<ul class="m-nav-sticky" style="margin-top: 30px;">
    <li class="m-nav-sticky__item" data-toggle="m-tooltip" title="Bantuan" data-placement="left">
        <a th:href="@{/error}"  target="_blank">
            <i class="la la-cart-arrow-down"></i>
        </a>
    </li>
    <li class="m-nav-sticky__item" data-toggle="m-tooltip" title="Kontak" data-placement="left">
        <a th:href="@{/error}"  target="_blank">
            <i class="la la-code-fork"></i>
        </a>
    </li>
    <li class="m-nav-sticky__item" data-toggle="m-tooltip" title="Tentang" data-placement="left">
        <a th:href="@{/error}" target="_blank">
            <i class="la la-life-ring"></i>
        </a>
    </li>
</ul>